* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    cursor: pointer;
}

/* ------------------------------------- LOGIN ------------------------------------- */
.login-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container form{
    width: 30vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
    padding: 2em;
    border: 1px solid black;
}

.login-container input {
    width: 20vw;
    height: 3vh;
}

.login-container button {
    width: 20vw;
    height: 3vh;
}

.sign-in-line{
    width: 20vw;
    margin-top: .5em;
    border-top: 1px solid gray;
}
.btn-login{
    margin-top: 1em;
}

.btn-sign-in{
    margin-top: 2em;
}

/* ------------------------------------- DASHBOARD ------------------------------------- */

.top-dashboard{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-container{
    width: 80vw;
    height: 60vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
}

.section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    gap: 2em;
}

.section-container p{
    text-align: justify;
}

.dashboard-profile{
    position: relative;
    width: 15vw;
    height: 14vh;
    margin-left: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard-profile div{
    margin-top: -1.5em;
    text-align: center;
}

.dashboard-profile p{
    font-weight: 600;
    padding: .2em;
}

.dashboard-profile button{
    padding: .2em;
}

.btn-logout{
    position: absolute;
    right: .5em;
    bottom: .5em;
}


/* ----------------------------------- DASHBOARD-ADMIN ----------------------------------- */

.dashboard-admin{
    position: relative;
    width: 15vw;
    height: 12vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard-admin button{
    padding: .5em;
}


/* ------------------------------------- PROFILE ------------------------------------- */

.profile-container{
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    position: relative;
}

.items-profile{
    width: 40vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    gap: .5em;
}   

.items-profile p{
    font-weight: 600;
}

.items-profile button{
    padding: .5em;
}

.profile-home{
    width: 10vw;
    height: 5vh;
    position: absolute;
    left: 2em;
    top: 2em;
}

.profile-home button{
    padding: 1em;
}

.profile-logout{
    width: 15vw;
    height: 12vh;
    border: 1px solid black;
    position: absolute;
    right: 2em;
    top: 2em;
}

.profile-logout p{
    font-weight: 600;
    text-align: center;
    margin-top: 1.5em;
}

.profile-logout button{
    padding: .2em;
}


/* ------------------------------------- UPDATE-USER ------------------------------------- */

.update-user-container{
    height: 100vh;
    width: 80vw;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.update-user-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.update-user-container input {
    width: 20vw;
    height: 3vh;
    text-align: center;
}

.update-user-container button {
    width: 8vw;
    margin-left: 2vw;
    margin-right: 2vw;
    height: 3vh;
    margin-top: 1em;
}

/* ---------------------------------- CREATE-ACCOUNT ----------------------------------- */

.create-account-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-account-container form{
    width: 70vw;
    height: 70vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.create-account-container input{
    width: 20vw;
    height: 3vh;
}

.create-account-container button{
    width: 20vw;
    height: 3vh;
}

.div-account{
    width: 20vw;
    margin-top: .5em;
    border-top: .2px solid gray;
}

.btn-submit-account{
    margin-top: 1em;
}

.btn-cancel-account{
    margin-top: 3em;
}

.pop-up{
    width: 50vw;
    height: 50vh;
    background-color: white;
    border: 1px solid black;
    z-index: 9999;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* ----------------------------------- ADMIN-PANEL ----------------------------------- */

.admin-panel-container{
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.admin-panel-container h2{
    padding: 2em;
    margin-top: -2em;
}

.table-container{
    width: 80vw;
    height: auto;
    border: 1px solid black;
    text-align: center;
    table-layout: fixed;
    border-collapse: collapse;
}

.table-container td{
    padding: .2em;
    white-space: nowrap;  
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-container thead{
    font-weight: 600;
}

.table-container button{
    border: none;
}

.tr-btn-table{
    width: 6em;
}

.btn-table{
    width: 3em;
}

.table-container i{
    font-size: 16px;
}

.filters{
    width: 90vw;
    height: 15vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-bottom: 2em;
}

.btn-clear-filters button{
    width: 8em;
    height: 1.5em;
}

.filter-container{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
    text-align: center;
}

.filter-container button{
    margin-left: .5em;
    height: 1.5em;
    width: 3em;
}
.filter-container input{
    height: 1.5em;
}

.tr-create-user td{
    border: none;
}


.tr-create-user button{
    height: 1.8em;
    width: 10em;
    border: 1px solid black;
}

.admin-create-account-container{
    width: 70vw;
    height: 70vh;
    background-color: white;
    border: 1px solid black;
    z-index: 9999;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.admin-create-account-container form{
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .2em;
}

.admin-create-account-container button{
    width: 20vw;
    height: 3vh;
}

.admin-create-account-container input{
    width: 20vw;
    height: 3vh;
}



