
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.form-create-user{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  gap: .5em;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}


.read-user-container{
  width: 80%;
  height: auto;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 2em;
}

.card{
  width: 12em;
  height: 15em;
  border: 1px solid black;
}
